* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: whitesmoke;
  }
  
body{
    font-size: 1rem;
    background-color: whitesmoke;
}

P{
    font-size: 1.1rem;
}
 
img{
    border-radius: 2px;
    object-fit: cover;
}
a{
    text-decoration: none;
    // background-color: #333;
}

@import '_hero.scss';